body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  height: 30px;
  padding: 10px;
  a {
    color: white;
  }
}

#main {
  padding: 20px;
}

.align_right {
  text-align: right;
}