@import './constants.css.scss';

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 15px;
  a {
    color: white;
  }
  border-bottom: 4px solid $red;
}

#main {
  padding: 20px;
  margin-bottom: 40px;
}

.align_right {
  text-align: right;
}

footer {
  position: fixed;
  text-align: center;
  color: #888;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #ccc;
}

a, a:visited {
  color: $red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}